/* Base */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
}

h1.name {
  display: inline-block;
  padding-left: 30px;
  float: left;
  clear: both;
}

h3.secondary-name {
  display: inline-block;
  padding-left: 30px;
  float: left;
  clear: both;
}

ul.main-nav {
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding-top: 15px;
  padding-right: 30px;
  background-color: white;
  float: right;
}

ul.secondary-nav {
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-right: 30px;
  background-color: white;
  float: right;
}

ul.main-nav li {
  float: left;
}

ul.secondary-nav li {
  float: left;
}

ul.main-nav li a {
  display: inline-block;
  color: navy;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.secondary-nav li a {
  display: inline-block;
  color: navy;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.main-nav li a:hover {
  background-color: lightgrey;
  color: firebrick;
}

.main-img {
  float: right;
  padding-right: 45px;
  padding-left: 15px;
}

.header-img p {
  padding-left: 30px;
}

h2#portfolio {
  text-align: center;
  padding-top: 75px;
  padding-bottom: 50px;
}

.main-container {
  width: 100%;
}

.col1 {
  display: inline-block;
  text-align: center;  
}

.col2 {
  display: inline-block;
  text-align: center;
  margin-top: 30px;
}

.first,
.fourth {
  margin-left: 35px;
}

.second,
.fifth {
  margin-left: 5px;
}

.third,
.sixth {
  margin-left: 5px;
}

.first,
.second,
.third,
.fourth,
.fifth,
.sixth {
  width: 30%;
}



.market-img,
.search-img,
.travel-img,
.map-img,
.gallery-img,
.calc-img {
  width: 100%;
}

#skills {
  text-align: center;
  padding-top: 75px;
}

#contact {
  text-align: center;
  padding-top: 75px;
}

#contact p {
  padding: 0 275px;
}

p.phone {
  padding-top: 25px;
}

p.email {
  padding-bottom: 25px;
}


/* Media Queries */

@media (min-width: 320px) {

  h1.name {
    display: inline;
    text-align: center;
  }

  


/* Float Clearfix */

  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }